.space-x-cards {
  display: flex;
  width: 100%;
  &_details {
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .space-x-cards {
    margin-left: 0;
    &_details {
      min-width: 220px;
    }
  }
}

@media screen and (max-width: 450px) {
  .space-x-cards {
    margin-left: 0;
    &_details {
      padding-left: 0;
      min-width: 350px;
    }
  }
}
